/*        Fonts        */
@font-face { font-family: FGDC; src: url("/assets/fonts/FRADMCN.TTF"); }
@font-face { font-family: FGB; src: url("/assets/fonts/FRABK.TTF"); }
@font-face { font-family: BHITC; src: url("/assets/fonts/BRADHITC.TTF"); }
@font-face { font-family: FGH; src: url("/assets/fonts/FRAHVIT.TTF"); }

/*        Header       */
.navbar {
    margin: 0;
    min-height: 80px;
}

.navbar-nav {
    margin-top: 15px;
}

.navbar-brand {
    width: 100px;
    padding: 0;
}

.navlogo {
    margin-top: 10px;
    height: 60px;
}

.menuitem {
    font-family: FGDC;
    font-weight: 700;
    font-size: 18px;
}

.menured {
    color: #950200 !important;
    font-family: FGDC;
    font-weight: 700;
    font-size: 18px;
}

#navfb {
    height: 20px;
}

#navtwit {
    height: 20px;
}

#navin {
    height: 20px;
}

#navgit {
    height: 20px;
}

/*        Logo       */

.logo {
    background-image: url("/assets/img/blackbackgroundtexture.png");
    background-color: #000000;
    background-color: #ffffff;
    margin-top: 20px;
}

.logoimg {
    display: block;
    height: 200px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 0;
}

.translogo {
    background-color: #000000;
    opacity: 0.35;
    min-height: 600px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*        Parallax       */

.paradiv {
    padding: 0;
    overflow: hidden;
    height: 600px;
    background-image: url("/assets/img/blackbackgroundtexture.png");
    background-color: #000000;
}

.parallax {
    background-image: url("/assets/img/header_stagedbackground_blacktexture_vs6.png");
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 0;
    /*transform: translateZ(-200px) scale(1.2);*/
    margin: auto;

}

@media (min-width: 1280px) {
    .parallax {
        background-size: 1280px auto;
    }
}

.transbox {
    background-color: #000000;
    opacity: 0.35;
    min-height: 600px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.transtext {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
}

.trans {
    font-family: FGDC;
    font-size: 80px;
    color: #ffffff;
    text-align: center;
}

/*        Who we are       */

#whocarousel {
    margin-top: 95px;
    margin-left: 13px;
    width: 450px;
}

#whocarousel .carousel-indicators {
    bottom: -60px;
}

.carouselcover {
    height: 400px;
    position: absolute;
    margin: 80px auto;
}

.whoweare {
    height: 600px;
}

.whoheader {
    font-family: FGDC;
    font-size: 35px;
    margin-top: 150px;
}

.whopara {
    font-family: FGB;
    font-size: 20px;
}

.whosig {
    font-family: BHITC;
    font-size: 30px;
}

/*        Services       */

.services {
    height: 800px;
    padding: 0;
    position: relative;
}

.servimg {
    background-image: url("/assets/img/pexels-photo-29068.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    /*transform: translateZ(-200px) scale(1.2);*/
    padding: 0;
}

.services .transbox {
    height: 800px;
    opacity: 0.8;
}

.services .transtext {
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
}

.servtitle {
    font-size: 50px;
    font-family: FGDC;
    margin-bottom: 40px;
}

.servtext {
    font-size: 28px;
    margin-bottom: 50px;
}

.serviceimg {
    margin: 20px 0;
    height: 150px;
}

/*        Software We've Built       */

.backdrop {
    background-color: #000000;
}

.software {
    background-color: #000000;
    height: 400px;
}

.softtitle {
    font-family: FGDC;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
}

/*        Get Your Quote       */

.quote {
    height: 400px;
    text-align: center;
}

.ready {
    font-family: FGDC;
    font-size: 50px;
    margin-top: 100px;
    color: #000000;
}

.btn-danger {
    font-family: FGDC;
    background-color: #950200;
    border-color: #950200;
    font-size: 50px;
}

.btn-danger:hover {
    background-color: #650200;
}

/*        Footer       */

#footfb {
    height: 40px;
    margin-right: 30px;
}

#foottwit {
    height: 40px;
    margin-right: 30px;
}

#footin {
    height: 40px;
    margin-right: 30px;
}

#footgit {
    height: 40px;
}

.footpad {
    height: 30px;
}

.footlogo {
    height: 200px;
    margin: 20px;
}

.addsec {
    border-left: #ffffff 2px solid;
    margin-top: 40px;
    padding-left: 40px;
    padding-top: 30px;
    height: 250px;
}

.map {
    list-style: none;
    margin-top: 40px;
    text-align: right;
    padding-top: 25px;
    padding-right: 20px;
}

.mapitem {
    font-family: FGDC;
    font-size: 28px;
}

.address {
    color: #999999;
    font-size: 22px;
}

.mapitem a {
    color: #cccccc !important;
    text-decoration: none;
}

.mapitem a:hover {
    color: #ffffff !important;
    text-decoration: none;
}

.address a {
    color: #999999 !important;
    text-decoration: none;
}

.address a:hover{
    color: #ffffff !important;
    text-decoration: none;
}

/*        Services Page       */

.servicesSpacer {
    height: 80px;
}

.paradiv2 {
    padding: 0;
    overflow: hidden;
    height: 300px;
    background-color: #000000;
    margin: 0;
}

.parallax2 {
    background-image: url("/assets/img/people-coffee-notes-tea.jpg");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
    padding: 0;
    margin: auto;

}

.transbox2 {
    background-color: #000000;
    opacity: 0.35;
    min-height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.transtext2 {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
}

.serdiv {
    margin-bottom: 80px;
}

.servcomputer {
    height: 250px;
    display: block;
    margin: 10px auto;
}

.listtitle {
    font-family: FGDC;
    font-size: 28px;
    color: #000000;
    margin: 20px 0;
}

.listtext {
    font-family: FGB;
    font-size: 16px;
    color: #999999;
}

/*        Why Choose Us       */

.paradiv3 {
    padding: 0;
    overflow: hidden;
    height: 500px;
    background-color: #000000;
    margin: 0;
}

.parallax3 {
    background-image: url("/assets/img/apple-desk-designer-display.jpeg");
    height: 500px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
    margin: auto;

}

.transbox3 {
    background-color: #000000;
    opacity: 0.35;
    min-height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.transtext3 {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
}

.choosetitle {
    font-family: FGDC;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
}

.choosecats {
    margin-top: 150px;
}

.choosecat {
    font-family: FGDC;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}

/*        Call to Action       */

.calltoaction {
    text-align: center;
    height: 300px;
    background-color: #950200;
}

.callinner {
    margin-top: 100px;
}

.deploy {
    font-family: FGH;
    font-size: 50px;
    display: inline;
    color: #ffffff;
}

.getStarted {
    font-weight: bolder;
    font-size: 50px;
    margin-left: 100px;
    color: #000000;
    width: 350px;
}

/*        About Page       */

.lettertitle {
    font-family: FGDC;
    font-size: 30px;
    margin-top: 80px;
}

.letterpara {
    font-family: FGB;
    font-size: 16px;
    color: #999999;
    line-height: 110%;
}

.lettersig {
    font-family: BHITC;
    font-size: 28px;
    margin-top: 40px;
}

.letfb {
    height: 20px;
    margin-bottom: 80px;
    margin-right: 10px;
}

.lettwit {
    height: 20px;
    margin-bottom: 80px;
    margin-right: 10px;
}

.letin {
    height: 20px;
    margin-bottom: 80px;
    margin-right: 10px;
}

.letgit {
    height: 20px;
    margin-bottom: 80px;
}

/*        Meet the Team       */

.personel-images {
    height: 200px;
    border-radius: 100px;
    display: block;
    margin: auto;
    margin-top: 80px;
    border: 1pt solid #950200;
}

.names {
    font-family: BHITC;
    font-size: 22px;
    color: #999999;
    text-align: center;
}

.meet .letfb {
    margin-bottom: 0;
    display: inline-block;
}

.meet .lettwit {
    margin-bottom: 0;
    display: inline-block;
}

.meet .letin {
    margin-bottom: 0;
    display: inline-block;
}

.meet .letgit {
    margin-bottom: 0;
    display: inline-block;
}

.titles {
    font-family: FGH;
    text-align: center;
    margin-bottom: 80px;
}

.socialicons {
    text-align: center;
}


/*        Contact Page       */

.contactform {
    height: 400px;
    padding: 130px 0;
    text-align: right;
}

.contactform .firstinputs {
    text-align: left;
}

.map-container .map {
    width: 100%;
    height: 400px;
}

.contactform .btn-danger {
    font-size: 25px;
    padding: 0 40px;
}

.input {
    font-family: FGB;
    font-size: 24px;
    margin-bottom: 15px;
    border: 0;
    background-color: #eeeeee;
    width: 90%;
    padding: 8px;
}

textarea.input {
    resize: none;
    width: 100%;
}

.input:placeholder-shown {
    font-style: italic;
    color: #aaaaaa;
}

/*        404 Page       */

.NFdiv{
    background-color: #484848;
    background-size: cover;
    color: #ffffff;
    font-weight: bolder;
    height: 400px;
}

.NFtext{
    margin-top: 50px;
    text-align: center;
}

.losttext{
    font-size: 25px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.cannon{
    height: 400px;
    margin: auto;
    display: block;
    
}

.NFSpacer {
    height: 80px;
}