<div class="NFSpacer col-md-12"></div>
<div class="col-md-12 NFdiv">
    <div class="container">
        <div class="col-md-6 NFtext">
            <p class="losttext">What?! how did you get here!?</p>
            <p class="losttext">Sorry we didn't build this page...</p>
            <p class="losttext">Never even considered building this page...</p>
            <p class="losttext">Well since your here wanna test the return to home page cannon?</p>
            <p class="losttext">SURE you do!</p>
            <p class="losttext">{{#link-to "main"}}Click Here{{/link-to}} to get in!</p>
        </div>
        <div class="col-md-6">
            <img class="cannon" src="/assets/img/cannon.jpg" />
        </div>
    </div>
</div>
{{outlet}}
