<!-- title section -->
<div class="col-md-12 servicesSpacer"></div>
<div class="col-md-12 paradiv2">
    <div class="col-md-12 parallax2"></div>
    <div class="col-md-12 transbox2"></div>
    <div class="col-md-12 transtext2">
        <p class="trans">About Us</p>
    </div>
</div>
<!-- Letter -->
<div class="container">
    <div class="col-md-12 letter">
        <p class="lettertitle">Letter from The CEO</p>
        <p class="letterpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin accumsan, velit dignissim porttitor
        aliquet, orci magna pulvinar nibh, at venenatis velit augue vel odio. Nunc euismod ipsum et tristique
        ultrices. Pellentesque eu dolor ullamcorper tellus luctus gravida. Duis sagittis ante vel tempus aliquam.
        Pellentesque aliquet enim ac gravida rutrum. Morbi lorem lorem, auctor eu imperdiet sed, rutrum quis
        ipsum. Phasellus in hendrerit dolor.</p>

        <p class="letterpara">Nullam vel ultricies tellus. Phasellus id vestibulum ligula. Vestibulum auctor urna semper, tristique
        mi sit amet, posuere ligula. Sed felis purus, vestibulum quis sollicitudin non, fermentum nec diam. Donec
        non velit sed elit lobortis congue a a lacus. Cras rhoncus nisl ex, nec euismod nisi mollis at. Phasellus
        iaculis risus urna. Maecenas et turpis quis velit malesuada vehicula vitae at est.</p>

        <p class="letterpara">Mauris nisi nisl, convallis eget neque eget, consequat commodo turpis. Ut sodales lorem sapien. Aenean
        molestie tincidunt neque. Donec faucibus lectus orci, ac ullamcorper turpis porttitor in. Cras libero
        orci, ultrices vitae neque eu, interdum dapibus orci. Vivamus vitae pulvinar enim. Etiam quis mattis nisl.
        Vestibulum tincidunt ipsum eu nunc volutpat, non fermentum metus placerat.</p>
        
        <p class="lettersig">Dennis Bartlett, CEO</p>
        <a href="https://www.facebook.com/bushidoarmy/" target="_blank"><img class="letfb" src="assets/img/brandico_2014-04-07_facebook_303_0_000000_none.png" alt="Facebook"></a>
        <a href="https://twitter.com/BushidoStudios" target="_blank"><img class="lettwit" src="assets/img/foundation-icon-fonts_2015-02-16_social-twitter_303_0_000000_none.png" alt="Twitter"></a>
        <a href="#" target="_blank"><img class="letin" src="assets/img/brandico_2014-04-07_linkedin_303_0_000000_none.png" alt="Linked In"></a>
        <a href="https://github.com/BushidoStudios" target="_blank"><img class="letgit" src="assets/img/brandico_2014-04-07_github_303_0_000000_none.png" alt="GitHub"></a>
    </div>
</div>
<!--meet the team title-->
<div class="col-md-12 paradiv2">
    <div class="col-md-12 parallax2"></div>
    <div class="col-md-12 transbox2"></div>
    <div class="col-md-12 transtext2">
        <p class="trans">Meet The Team</p>
    </div>
</div>
<!--meet the team section-->
<div class="container meet">
    <div class="col-md-3">
        <img class="personel-images" src="/assets/img/head_shots/Dennis.png" alt="Dennis Bartlett" />
        <p class="names">Dennis Bartlett</p>
        <div class=socialicons>
            <a href="https://www.facebook.com/bushidoarmy/" target="_blank"><img class="letfb" src="/assets/img/font-awesome_4-7-0_facebook-f_303_0_950200_none.png" alt="Facebook"></a>
            <a href="https://twitter.com/BushidoStudios" target="_blank"><img class="lettwit" src="/assets/img/brandico_2014-04-07_twitter-bird_303_0_950200_none.png" alt="Twitter"></a>
            <a href="#" target="_blank"><img class="letin" src="/assets/img/brandico_2014-04-07_linkedin_303_0_950200_none.png" alt="Linked In"></a>
            <a href="https://github.com/BushidoStudios" target="_blank"><img class="letgit" src="/assets/img/brandico_2014-04-07_github_303_0_950200_none.png" alt="GitHub"></a>
        </div>
        <p class="titles">CEO</p>
    </div>
    <div class="col-md-3">
        <img class="personel-images" src="/assets/img/head_shots/Terry.png" alt="Terry Campbell" />
        <p class="names">Terry Campbell</p>
        <div class="socialicons">
            <a href="https://www.facebook.com/bushidoarmy/" target="_blank"><img class="letfb" src="/assets/img/font-awesome_4-7-0_facebook-f_303_0_950200_none.png" alt="Facebook"></a>
            <a href="https://twitter.com/BushidoStudios" target="_blank"><img class="lettwit" src="/assets/img/brandico_2014-04-07_twitter-bird_303_0_950200_none.png" alt="Twitter"></a>
            <a href="#" target="_blank"><img class="letin" src="/assets/img/brandico_2014-04-07_linkedin_303_0_950200_none.png" alt="Linked In"></a>
            <a href="https://github.com/BushidoStudios" target="_blank"><img class="letgit" src="/assets/img/brandico_2014-04-07_github_303_0_950200_none.png" alt="GitHub"></a>
        </div>
        <p class="titles">Software Engineer</p>
    </div>
    <div class="col-md-3">
        <img class="personel-images" src="/assets/img/head_shots/Leah.png" alt="Leah Bartlett" />
        <p class="names">Leah Bartlett</p>
        <div class="socialicons">
            <a href="https://www.facebook.com/bushidoarmy/" target="_blank"><img class="letfb" src="/assets/img/font-awesome_4-7-0_facebook-f_303_0_950200_none.png" alt="Facebook"></a>
            <a href="https://twitter.com/BushidoStudios" target="_blank"><img class="lettwit" src="/assets/img/brandico_2014-04-07_twitter-bird_303_0_950200_none.png" alt="Twitter"></a>
            <a href="#" target="_blank"><img class="letin" src="/assets/img/brandico_2014-04-07_linkedin_303_0_950200_none.png" alt="Linked In"></a>
        </div>
        <p class="titles">Designer</p>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
</div>