<!-- title section -->
<div class="col-xs-12 servicesSpacer"></div>
<div class="col-xs-12 paradiv2">
    <div class="col-xs-12 parallax2"></div>
    <div class="col-xs-12 transbox2"></div>
    <div class="col-xs-12 transtext2">
        <p class="trans">About Us</p>
    </div>
</div>
<!-- Letter -->
<div class="container">
    <div class="col-xs-12 letter">
        <p class="lettertitle">Letter from The CEO</p>
        <p class="letterpara">The team I’ve assembled here at Bushido Studios is
        hand-picked from the best of the best. Not content to rest on our laurels,
        we’re always actively learning new techniques and staying on top of best
        practices. One of our greatest strengths is our diversity. Our skills and
        experience in many different areas of the software industry allow us to
        handle special requests that many software firms can’t. Be it software
        to drive a new hardware project, a client for end users to interact with,
        or even a website to promote the project, our team has the chops to get
        the job done.</p>

        <p class="letterpara">Bushido Studios will always put the customer first.
        We know that getting your software right for your customers is important.
        To that end, we’ll make sure to give you ample opportunity to communicate
        those needs. Many software teams will ask a bunch of questions up front,
        then go build the software in isolation. We take a different approach
        that involves you, the customer, from start to finish. As a result,
        you’ll have the opportunity to request small changes to your software
        while it’s still being developed and see the results as we adapt the
        project to better suit your needs.</p>

        <p class="letterpara">We at Bushido Studios are looking forward to not
        only working for you, but also working with you on your software adventure.</p>
        
        <p class="lettersig">Dennis Bartlett, CEO</p>
        <a href="https://www.facebook.com/bushidoarmy/" target="_blank"><img class="letfb" src="assets/img/brandico_2014-04-07_facebook_303_0_000000_none.png" alt="Facebook"></a>
        <a href="https://twitter.com/BushidoStudios" target="_blank"><img class="lettwit" src="assets/img/foundation-icon-fonts_2015-02-16_social-twitter_303_0_000000_none.png" alt="Twitter"></a>
        <a href="#" target="_blank"><img class="letin" src="assets/img/brandico_2014-04-07_linkedin_303_0_000000_none.png" alt="Linked In"></a>
        <a href="https://github.com/BushidoStudios" target="_blank"><img class="letgit" src="assets/img/brandico_2014-04-07_github_303_0_000000_none.png" alt="GitHub"></a>
    </div>
</div>
<!--meet the team title-->
<div class="col-xs-12 paradiv2">
    <div class="col-xs-12 parallax2"></div>
    <div class="col-xs-12 transbox2"></div>
    <div class="col-xs-12 transtext2">
        <p class="trans">Meet The Team</p>
    </div>
</div>
<!--meet the team section-->
<div class="container meet">
    <div class="col-md-3 col-sm-4">
        <img class="personel-images" src="/assets/img/head_shots/Dennis.png" alt="Dennis Bartlett" />
        <p class="names">Dennis Bartlett</p>
        <div class=socialicons>
            <a href="https://www.facebook.com/bushidoarmy/" target="_blank"><img class="letfb" src="/assets/img/font-awesome_4-7-0_facebook-f_303_0_950200_none.png" alt="Facebook"></a>
            <a href="https://twitter.com/BushidoStudios" target="_blank"><img class="lettwit" src="/assets/img/brandico_2014-04-07_twitter-bird_303_0_950200_none.png" alt="Twitter"></a>
            <a href="#" target="_blank"><img class="letin" src="/assets/img/brandico_2014-04-07_linkedin_303_0_950200_none.png" alt="Linked In"></a>
            <a href="https://github.com/BushidoStudios" target="_blank"><img class="letgit" src="/assets/img/brandico_2014-04-07_github_303_0_950200_none.png" alt="GitHub"></a>
        </div>
        <p class="titles">CEO</p>
    </div>
    <div class="col-md-3 col-sm-4">
        <img class="personel-images" src="/assets/img/head_shots/Terry.png" alt="Terry Campbell" />
        <p class="names">Terry Campbell</p>
        <div class="socialicons">
            <a href="https://www.facebook.com/bushidoarmy/" target="_blank"><img class="letfb" src="/assets/img/font-awesome_4-7-0_facebook-f_303_0_950200_none.png" alt="Facebook"></a>
            <a href="https://twitter.com/BushidoStudios" target="_blank"><img class="lettwit" src="/assets/img/brandico_2014-04-07_twitter-bird_303_0_950200_none.png" alt="Twitter"></a>
            <a href="#" target="_blank"><img class="letin" src="/assets/img/brandico_2014-04-07_linkedin_303_0_950200_none.png" alt="Linked In"></a>
            <a href="https://github.com/BushidoStudios" target="_blank"><img class="letgit" src="/assets/img/brandico_2014-04-07_github_303_0_950200_none.png" alt="GitHub"></a>
        </div>
        <p class="titles">Software Engineer</p>
    </div>
    <div class="col-md-3 col-sm-4">
        <img class="personel-images" src="/assets/img/head_shots/Leah.png" alt="Leah Bartlett" />
        <p class="names">Leah Bartlett</p>
        <div class="socialicons">
            <a href="https://www.facebook.com/bushidoarmy/" target="_blank"><img class="letfb" src="/assets/img/font-awesome_4-7-0_facebook-f_303_0_950200_none.png" alt="Facebook"></a>
            <a href="https://twitter.com/BushidoStudios" target="_blank"><img class="lettwit" src="/assets/img/brandico_2014-04-07_twitter-bird_303_0_950200_none.png" alt="Twitter"></a>
            <a href="#" target="_blank"><img class="letin" src="/assets/img/brandico_2014-04-07_linkedin_303_0_950200_none.png" alt="Linked In"></a>
        </div>
        <p class="titles">Designer</p>
    </div>
    <div class="col-md-3 col-sm-4"></div>
    <div class="col-md-3 col-sm-4"></div>
</div>