<!--logo-->
<div class="col-md-12 logo hidden-xs">
    <div class="col-md-12 translogo"></div>
    <div class="col-md-12">
        <object type="image/svg+xml" data="/assets/img/BushidoStudiosLogo.svg" class="logoimg"></object>
    </div>
</div>
<!--parallax-->
<div class="col-md-12 paradiv">
    <div class="col-md-12 parallax"></div>
    <div class="col-md-12 transbox"></div>
    <div class="col-md-12 transtext">
        <p class="trans">The Army You Need</p>
        <p class="trans">To Build Your Software</p>
        <p class="trans">On Demand, On Time, On Budget</p>
    </div>
</div>
<!--who we are-->
<div class="container">
    <div class="col-md-12 whoweare">
        <div class="col-md-6 col-sm-12">
            <p class="whoheader">Who We Are</p><br>
            <p class="whopara">Web development is a collaborative process that requires
            careful integration. We are the warriors at the crossroads where technology
            meets design. Masters of uniting form and function, we create modern,
            innovative sites and applications. We can guide your project, big or small,
            from concept to production, taking care of everything in between. </p><br>
             <p class="whosig">Dennis Bartlett, CEO</p>
        </div>
        <div class="col-md-6 hidden-sm hidden-xs">
            <img src="/assets/img/iMac.png" alt="iMac" class="carouselcover"/>
            <div id="whocarousel" class="carousel slide" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#whocarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#whocarousel" data-slide-to="1"></li>
                    <li data-target="#whocarousel" data-slide-to="2"></li>
                </ol>
                <!--wrapper for slides-->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="/assets/img/pexels-photo-114907.jpeg" alt="image 1">
                    </div>
                    <div class="item">
                        <img src="/assets/img/pexels-photo-114907.jpeg" alt="image 2">
                    </div>
                    <div class="item">
                        <img src="/assets/img/pexels-photo-114907.jpeg" alt="image 3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Services-->
<div class="col-md-12 services">
    <div class="col-md-12 servimg"></div>
    <div class="col-md-12 transbox"></div>
    <div class="col-md-12 transtext">
        <p class="servtitle">Services</p>
        <div class="col-md-4 col-sm-4 col-xs-6 servsec">
            <object type="image/svg+xml" data="/assets/img/Service_Icons/websitedevelopment_adaptivelayout.svg" class="serviceimg"></object>
            <p class="servtext">Website Development</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 servsec">
            <object type="image/svg+xml" data="/assets/img/Service_Icons/desktopapplications_development.svg" class="serviceimg"></object>
            <p class="servtext">Desktop Applications</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 servsec">
            <object type="image/svg+xml" data="/assets/img/Service_Icons/internetapplications_wireframe.svg" class="serviceimg"></object>
            <p class="servtext">Internet Applications</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 servsec">
            <object type="image/svg+xml" data="/assets/img/Service_Icons/mobileapplication_appdevelopment.svg" class="serviceimg"></object>
            <p class="servtext">Mobile Applications<br>(Android/IOS)</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 servsec">
            <object type="image/svg+xml" data="/assets/img/Service_Icons/embeddedjavascriptservices_electronics.svg" class="serviceimg"></object>
            <p class="servtext">Embedded Javascript<br>Services</p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 servsec">
            <object type="image/svg+xml" data="/assets/img/Service_Icons/inhousedesignservices_tools.svg" class="serviceimg"></object>
            <p class="servtext">In House Design<br>Services</p>
        </div>
    </div>
</div>
<!--software we've built-->
<div class="col-md-12 backdrop">
    <div class="container">
        <div class="col-md-12 software">
            <p class="softtitle">Software We've Built</p>
        </div>
    </div>
</div>
<!--ready to start-->
<div class="container">
    <div class="col-md-12">
        <div class="quote">
            <p class="ready">Ready to Start?<br/>Deploy Your Army Today!</p><br/>
            {{#link-to "contact" class="btn btn-danger quotebtn" role="button"}}Get Your Quote{{/link-to}}
        </div>
    </div>
</div>