<!--Hero Title-->
<div class="col-md-12 servicesSpacer"></div>
<div class="col-md-12 paradiv2">
    <div class="col-md-12 parallax2"></div>
    <div class="col-md-12 transbox2"></div>
    <div class="col-md-12 transtext2">
        <p class="trans">Services</p>
    </div>
</div>
<!--Services List-->
<div class="col-md-12 servicesSpacer"></div>
<div class="container">
    <div class="col-md-12 serdiv">
        <div class="col-md-6">
            <p class="listtitle">Website Development</p>
            <p class="listtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae sem lectus. Aenean
            hendrerit orci sit amet magna egestas, pulvinar malesuada nunc tincidunt. Nulla facilisi. Vestibulum
            dictum justo nunc, sit amet semper velit commodo quis. Fusce sit amet tellus feugiat, pretium
            lectus sed, vehicula neque. Vivamus leo augue, porttitor nec.</p>
        </div>
        <div class="col-md-6">
            <object type="image/svg+xml" data="/assets/img/Service_Icons_Black/websitedevelopment_adaptivelayout.svg" class="servcomputer"></object>
        </div>
    </div>
    <div class="col-md-12 serdiv">
        <div class="col-md-6">
            <object type="image/svg+xml" data="/assets/img/Service_Icons_Black/desktopapplications_development.svg" class="servcomputer"></object>
        </div>
        <div class="col-md-6">
            <p class="listtitle">Desktop Applications</p>
            <p class="listtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae sem lectus. Aenean hendrerit
            orci sit amet magna egestas, pulvinar malesuada nunc tincidunt. Nulla facilisi. Vestibulum dictum
            justo nunc, sit amet semper velit commodo quis. Fusce sit amet tellus feugiat, pretium lectus sed,
            vehicula neque. Vivamus leo augue, porttitor nec.</p>
        </div>
    </div>
    <div class="col-md-12 serdiv">
        <div class="col-md-6">
            <p class="listtitle">Internet Applications</p>
            <p class="listtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae sem lectus. Aenean hendrerit
            orci sit amet magna egestas, pulvinar malesuada nunc tincidunt. Nulla facilisi. Vestibulum dictum justo
            nunc, sit amet semper velit commodo quis. Fusce sit amet tellus feugiat, pretium lectus sed, vehicula
            neque. Vivamus leo augue, porttitor nec.</p>
        </div>
        <div class="col-md-6">
            <object type="image/svg+xml" data="/assets/img/Service_Icons_Black/internetapplications_wireframe.svg" class="servcomputer"></object>
        </div>
    </div>
    <div class="col-md-12 serdiv">
        <div class="col-md-6">
            <object type="image/svg+xml" data="/assets/img/Service_Icons_Black/mobileapplication_appdevelopment.svg" class="servcomputer"></object>
        </div>
        <div class="col-md-6">
            <p class="listtitle">Mobile Applications (Android/IOS)</p>
            <p class="listtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae sem lectus. Aenean hendrerit
            orci sit amet magna egestas, pulvinar malesuada nunc tincidunt. Nulla facilisi. Vestibulum dictum justo
            nunc, sit amet semper velit commodo quis. Fusce sit amet tellus feugiat, pretium lectus sed, vehicula
            neque. Vivamus leo augue, porttitor nec.</p>
        </div>
    </div>
    <div class="col-md-12 serdiv">
        <div class="col-md-6">
            <p class="listtitle">Embedded Javascript Services</p>
            <p class="listtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae sem lectus. Aenean hendrerit
            orci sit amet magna egestas, pulvinar malesuada nunc tincidunt. Nulla facilisi. Vestibulum dictum justo
            nunc, sit amet semper velit commodo quis. Fusce sit amet tellus feugiat, pretium lectus sed, vehicula
            neque. Vivamus leo augue, porttitor nec.</p>
        </div>
        <div class="col-md-6">
            <object type="image/svg+xml" data="/assets/img/Service_Icons_Black/embeddedjavascriptservices_electronics.svg" class="servcomputer"></object>
        </div>
    </div>
    <div class="col-md-12 serdiv">
        <div class="col-md-6">
            <object type="image/svg+xml" data="/assets/img/Service_Icons_Black/inhousedesignservices_tools.svg" class="servcomputer"></object>
        </div>
        <div class="col-md-6">
            <p class="listtitle">In House Design Services</p>
            <p class="listtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae sem lectus. Aenean hendrerit
            orci sit amet magna egestas, pulvinar malesuada nunc tincidunt. Nulla facilisi. Vestibulum dictum justo
            nunc, sit amet semper velit commodo quis. Fusce sit amet tellus feugiat, pretium lectus sed, vehicula
            neque. Vivamus leo augue, porttitor nec.</p>
        </div>
    </div>
    <div class="col-md-12 servicesSpacer"></div>
</div>
<!--why choose us-->
<div class="col-md-12 paradiv3">
    <div class="col-md-12 parallax3"></div>
    <div class="col-md-12 transbox3"></div>
    <div class="col-md-12 transtext3">
        <p class="choosetitle">Why Choose Us?</p>
        <div class="col-md-12 choosecats">
            <div class="col-md-4 choosecat">
                <p>Coder Friendly</p>
            </div>
            <div class="col-md-4 choosecat">
                <p>Good Reliablity</p>
            </div>
            <div class="col-md-4 choosecat">
                <p>Lorem Ipsum</p>
            </div>
        </div>
    </div>
</div>
<!--call to action-->
<div class="calltoaction col-md-12">
    <div class="callinner">
    <p class="deploy">Deploy Your Army Today!</p>
    {{#link-to "contact" class="btn btn-default getStarted" role="button"}}Get Started{{/link-to}}
    </div>
</div>