<!--Hero Title-->
<div class="col-md-12 col-sm-12 col-xs-12 servicesSpacer"></div>
<div class="col-md-12 col-sm-12 col-xs-12 paradiv2">
    <div class="col-md-12 col-sm-12 col-xs-12 parallax2"></div>
    <div class="col-md-12 col-sm-12 col-xs-12 transbox2"></div>
    <div class="col-md-12 col-sm-12 col-xs-12 transtext2">
        <p class="trans">Services</p>
    </div>
</div>
<!--Services List-->
<div class="col-md-12 col-sm-12 servicesSpacer"></div>
<div class="container">
    <div class="col-md-12 col-sm-12 serdiv">
        <div class="col-md-6 col-sm-6">
            <p class="listtitle">Website Development</p>
            <p class="listtext">We develop hip, exciting websites that convert hits
            into customers. Whether you need a basic site for your business or a robust
            portal for clients & employees, we can make your vision a reality. Your site
            will be custom-tailored to your needs and built from the ground up by our
            designers and developers. No cookie cutter templates here!</p>
        </div>
        <div class="col-md-6 col-sm-6">
            <object type="image/svg+xml" data="/assets/img/Service_Icons_Black/websitedevelopment_adaptivelayout.svg" class="servcomputer hidden-xs"></object>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 serdiv">
        <div class="col-md-6 col-sm-6">
            <object type="image/svg+xml" data="/assets/img/Service_Icons_Black/desktopapplications_development.svg" class="servcomputer hidden-xs"></object>
        </div>
        <div class="col-md-6 col-sm-6">
            <p class="listtitle">Desktop Applications</p>
            <p class="listtext">Need a desktop application? We can save you time
            and money by managing the entire lifecycle of the project from inception
            to delivery. Whether you need something for PC, Mac or platform-independent,
            we’ve got you covered.</p>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 serdiv">
        <div class="col-md-6 col-sm-6">
            <p class="listtitle">Internet Applications</p>
            <p class="listtext">When a standalone application isn’t enough, we’re the
            experts you need to take it to the next level. Our internet applications
            combine functionality and convenience, securely. You’ll rest easy knowing
            that your data is protected, while critical application functions can take
            place anywhere over the internet.</p>
        </div>
        <div class="col-md-6 col-sm-6">
            <object type="image/svg+xml" data="/assets/img/Service_Icons_Black/internetapplications_wireframe.svg" class="servcomputer hidden-xs"></object>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 serdiv">
        <div class="col-md-6 col-sm-6">
            <object type="image/svg+xml" data="/assets/img/Service_Icons_Black/mobileapplication_appdevelopment.svg" class="servcomputer hidden-xs"></object>
        </div>
        <div class="col-md-6 col-sm-6">
            <p class="listtitle">Mobile Applications (Android/IOS)</p>
            <p class="listtext">The mobile application space is hotter than ever. We
            can transform your latest app idea into the next must-have app for mobile
            devices, or develop a mobile app as a companion to your desktop app or
            website. We’ll also ensure that your mobile app has the broadest reach
            possible by producing a single app that will run on both Android and iOS
            devices.</p>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 serdiv">
        <div class="col-md-6 col-sm-6">
            <p class="listtitle">Embedded Javascript Services</p>
            <p class="listtext">We want to partner with hardware designers & manufacturers
            to write sleek code to control devices without all the overhead associated with
            traditional hardware engineering.  Embedded Javascript services are just beginning
            to emerge in the development world. We’re proud to be among the elite few developers
            at the forefront of this new and exciting technology. Imagine a device that doesn’t
            need an operating system or bulky software to perform its tasks. All of its code sits
            on a microchip smaller than a quarter, written in accessible, industry standard
            Javascript. If that’s exciting to you, then you’re in luck. It’s exciting to us too.</p>
        </div>
        <div class="col-md-6 col-sm-6">
            <object type="image/svg+xml" data="/assets/img/Service_Icons_Black/embeddedjavascriptservices_electronics.svg" class="servcomputer hidden-xs"></object>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 serdiv">
        <div class="col-md-6 col-sm-6">
            <object type="image/svg+xml" data="/assets/img/Service_Icons_Black/inhousedesignservices_tools.svg" class="servcomputer hidden-xs"></object>
        </div>
        <div class="col-md-6 col-sm-6">
            <p class="listtitle">In House Design Services</p>
            <p class="listtext">Our in-house design services spare you the hassle of
            coordinating a design team with a development team. We’ll ensure that your
            site or application is beautiful, modern, and intuitive. Just leave it to us.</p>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 servicesSpacer"></div>
</div>
<!--why choose us-->
<div class="col-md-12 col-sm-12 col-xs-12 paradiv3">
    <div class="col-md-12 col-sm-12 col-xs-12 parallax3"></div>
    <div class="col-md-12 col-sm-12 col-xs-12 transbox3 choosetrans"></div>
    <div class="col-md-12 col-sm-12 col-xs-12 transtext3">
        <p class="choosetitle">Why Choose Us?</p>
        <div class="col-md-12 col-sm-12 col-xs-12 choosecats">
            <div class="col-md-4 col-sm-4 choosecat">
                <p class="choosesubtitle">Code Smarter,<br/> Not Harder.</p>
                <p class="choosepara hidden-xs">Our software is developed using
                industry standard best practices to make it easy for other
                developers to understand and modify. We pride ourselves in the
                readability of our code; all of our projects are well-formatted
                and self-documented.</p>
            </div>
            <div class="col-md-4 col-sm-4 choosecat">
                <p class="choosesubtitle">Robust & Reliable.</p>
                <p class="choosepara hidden-xs">We devote more than 30% of each project’s
                timeline to automated and manual Quality Assurance testing. Our
                goal? To make sure that your software is rock solid. In the
                unlikely event that you encounter a problem, just let us know.
                Bug slaying is just one of the many valuable services our army
                of developers provides.</p>
            </div>
            <div class="col-md-4 col-sm-4 choosecat">
                <p class="choosesubtitle">Experience.</p>
                <p class="choosepara hidden-xs">There’s no substitute for experience, and
                we’ve got a ton of it. Over 25 years of combined experience
                ensures that our team has the chops to bring your product to
                market in the shortest time possible. What’s more, the wealth
                of professional design and development experience we bring to
                the table will see to it that your application is the best it
                can be.</p>
            </div>
        </div>
    </div>
</div>
<!--call to action-->
<div class="calltoaction col-md-12 col-sm-12 col-xs-12">
    <div class="callinner">
        <div class="col-md-8">
            <p class="deploy">Deploy Your Army Today!</p>
        </div>
        <div class="col-xs-12 col-md-4">
            {{#link-to "contact" class="btn btn-default getStarted" role="button"}}Get Started{{/link-to}}
        </div>
    </div>
</div>